In [1]:
import pandas as pd             # for dataframes
import numpy as np              # array math
import matplotlib.pyplot as plt # plots
import seaborn as sns           # fancy plots

In [4]:
# read data drom csv
df = pd.read_csv("wordle_word_list.csv")
df

     INDEX   WORD
0        1  cigar
1        2  rebut
2        3  sissy
3        4  humph
4        5  awake
..     ...    ...
279    280  depot
280    281  epoxy
281    282  nymph
282    283  found
283    284  shall

[284 rows x 2 columns]